// colors
$color-dark: #02343e;
$color-yellow: #f6b428;

// arabic font
$font-ar: "GE SS Two", sans-serif;
$font-en: "Roboto", sans-serif;

// responsive
$max-xs: 575px;
$min-sm: 576px;
$max-sm: 767px;
$min-md: 768px;
$max-md: 991px;
$min-lg: 992px;
$max-lg: 1199px;
$min-xl: 1200px;
